@import url('https://fonts.googleapis.com/css?family=Bad+Script');
body{
    margin: 0;
    padding: 0;
    background-color: #010211;
}

div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 52%;
    height: 50%;
    background-color: transparent;
    border-radius: 5px;
    font-size: 135px;
    font-family: bad script;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
    transition-property: all;
    transition-duration: 2s;
}

div:hover{
    border-radius: 20px;
    cursor: pointer;
    text-shadow: 0 0 10px #ee0e77, 0 0 20px #ee0e77, 0 0 30px #ee0e77, 0 0 50px #ee0e77, 0 0 70px #ee0e77, 0 0 90px #ee0e77, 0 0 160px #ee0e77;
    box-shadow: 0 0 10px #0eeeb8, 0 0 20px #0eeeb8, 0 0 30px #0eeeb8, 0 0 40px #0eeeb8, 0 0 50px #0eeeb8;
    filter: brightness(115%);
}

p{
    margin-left: 7%;
    margin-top: 4%;
}





















